.nav {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 20px;
    height: 40px;

    .nav-container-logo {
      font-family: Borel, cursive;
      user-select: none;
      margin-top: 10px;
      background: rgb(206 5 156 / 30.6%);
      backdrop-filter: blur(16px);
      border-radius: 30px;
      padding: 8px 13px;

      h1 {
        position: relative;
        margin: 0;
        transition: all 0.2s ease-in-out;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
        z-index: 0;
        height: 30px;
      }
    }

    .nav-container-links ul {
      display: flex;
      gap: 10px;
      list-style-type: none;
      margin: 0;

      li {
        .tip {
          position: absolute;
          right: 37px;
          bottom: 7px;
          width: max-content;
          opacity: 0;
          transition: all 0.25s ease-in-out;
        }

        .li1 {
          &:hover {
            .tip {
              opacity: 1;
            }
          }
        }

        .li2 {
          &:hover {
            .tip {
              opacity: 1;
            }
          }
        }

        .li3 {
          &:hover {
            .tip {
              opacity: 1;
            }
          }
        }

        .li4 {
          &:hover {
            .tip {
              opacity: 1;
            }
          }
        }

        .li5 {
          &:hover {
            .tip {
              opacity: 1;
            }
          }
        }
      }

      li .light {
        background: rgb(177 177 177 / 30.6%);
        backdrop-filter: blur(16px);
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      li .dark {
        background: rgb(0 0 0 / 20.7%);
        backdrop-filter: blur(16px);
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.nav .light {
  color: black;
  fill: black;
}

.nav .dark {
  color: white;
  fill: white;
}

.extension {
  margin-top: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 38px;
  transition: all 0.5s ease-in;
  gap: 10px;

  li {
    background: rgb(177 177 177 / 30.6%);
    backdrop-filter: blur(16px);
    padding: 10px;
    border-radius: 50%;
  }

  .no-nav-exp {
    display: none;
  }
}
