.notes{
    .window-size {
        width: 200px;
        height: 260px;
        border-radius: 10px;
        padding: 10px;
        backdrop-filter: blur(3px);
        transition:outline 0.2s ease-in-out;
        border: none;
        outline: 1px solid #00000014;
        &:hover{
            outline: 1px solid #000000b3;
            border: none;
        }
      }
    .dark {
        background-color: #2d2d2deb;
        color: #fafafa;
      }
      .light {
        background-color: #fafafabc;
        color: #2d2d2d;
      }
}