.scenery{
    overflow: hidden;
    .active{
      position: relative;
      background-color:#ff10ef85;
      padding: 2px;
      // left: -2px;
      top: -2px;
    }
    .inactive{
      position: relative;
      background-color:#ff10ef00;
      padding: 2px;
      // left: -2px;
      top: -2px;
    }
    .window-size {
        margin: auto;
        width: 212px;
        height: 500px;
        border-radius: 10px;
        padding: 10px;
        transition: outline 0.2s ease-in-out;
        backdrop-filter: blur(3px);
        border: none;
        outline: 1px solid #00000014;
        &:hover {
          outline: 1px solid #000000b3;
          border: none;
        }

        .scenery-image{ 
          overflow-y: scroll;
          overflow-x: hidden;
          padding-right: 20px;
          height: 480px;
          margin-top: 2px;
          display: flex;
          flex-direction: column;
          .scenery-image-container{
            margin: 0;
            margin-top: 5px;
            position: relative;
            cursor: pointer;
            .scenery-image-text{
              position: absolute;
              bottom: 8px;
              left: 2px;
              font-size: 0.8rem;
              font-family: 'Poppins', sans-serif;
              font-weight: 100;
              width: 195px;
              padding-top: 2px;
              background: linear-gradient(180deg, #00000000, #000000);
              color: #fafafa;
              padding-left: 5px;
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }
          img{
            transition: all 0.1s ease-in-out;
          margin: 0px;
          width: 200px;
          height: 100px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
        }
      }
      .dark {
        background-color: #2d2d2deb;
        color: #fafafa;
        ::-webkit-scrollbar {
          width: 5px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #2d2d2d;
          border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #ffcbcb; /* light pink */
          border-radius: 10px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #ffcbcb;
        }
      }
      .light {
        background-color: #fafafabc;
        color: #2d2d2d;
        ::-webkit-scrollbar {
          width: 5px;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
          background: #afafaf;
          border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #de46de; /* light pink */
          border-radius: 10px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #b331b3;
        }
      }
}

